*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom properties---------------- */

:root {
	--ff-primary: 'Poppins', arial;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-white:#ffffff;
	--clr-light: #F1F2F6;
	--clr-med-light: #AEB8FE;
	--clr-medium: #758BFD;
	--clr-med-dark: #FF8600;
	--clr-dark: #27187E;
	--clr-black: #101010;
	
	--fs-h1: 50px;
	--fs-h2: 35px;
	--fs-h3: 30px;
	--fs-h4: 25px;
	--fs-p: 18px;
}

@media screen and (max-width: 800px) {
	:root {
		--fs-h1: 40px;
		--fs-h2: 30px;
		--fs-h3: 26px;
		--fs-h4: 22px;
		--fs-p: 16px;
		line-height: 1.5;
	}
}

@media screen and (max-width: 600px) {
	:root {
		--fs-h1: 30px;
		--fs-h2: 25px;
		--fs-h3: 22px;
		--fs-h4: 20px;
		--fs-p: 16px;
	}
}	

@media screen and (max-width: 430px) {
	:root {
		--fs-h1: 22px;
		--fs-h2: 20px;
		--fs-h3: 18px;
		--fs-h4: 17px;
		--fs-p: 15px;
	}
}	

/* General styles---------------- */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--clr-dark) ;
	color: var(--clr-black);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-p);
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.intro {
	padding: 0px 15%;
	height: fit-content;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 80px;
	margin-bottom: 0px;
}

@media screen and (max-width: 1000px) {
	.intro {
		padding: 0px 12%;
		height: fit-content;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 80px;
		margin-bottom: 0px;
	}

}

@media screen and (max-width: 800px) {
	.intro {
		padding: 0px 10%;
		height: fit-content;
		width: 100%;
		padding-top: 80px;
		padding-bottom: 80px;
		margin-bottom: 0px;
	}

}

@media screen and (max-width: 600px) {
	.intro {
		padding: 0px 7%;
		height: fit-content;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 80px;
		margin-bottom: 0px;
	}

}	

@media screen and (max-width: 430px) {
	.intro {
		padding: 0px 5%;
		height: fit-content;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 80px;
		margin-bottom: 0px;
	}

}	

/* Typography---------------- */

h1,
h2,
h3,
h4 {
	line-height: 1.6;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

p {
	font-size: var(--fs-p);
}

/* .section__title {
	margin-bottom: 0.25rem;

}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);

} */

/* Mask---------------- */

.mask {
	background-image: url('./image/1.svg');
  background-size: 200%;
	background-position-x: left ;
	background-position-y: center;
	background-repeat:no-repeat;
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.mask {
  	background-size: 200%;
	}

}@media screen and (max-width: 800px) {
	.mask {
  	background-size: 250%;
	}
}

@media screen and (max-width: 430px) {
	.mask {
  	background-size: 300%;
	}
}	

/* Header---------------- */

.header {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 0px 20px;
}

.logo {
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 0px 10px;
	background-color: var(--clr-med-light);
	border-radius: 50%;
}

.logo img {
	height: 45px;
	width: auto;
	margin-right: 4px;
}

.hd-nav {
	height: fit-content;
	width: fit-content;	
}

.hd-ul {
	height: fit-content;
	width: fit-content;
	display: flex;
	justify-content: end;
	align-items: center;
	list-style: none;
	gap: 30px;
	margin: 0;
}

.hd-li-op {
	height: 50px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hd-li-op > a,
.hd-li-op > a:focus, 
.hd-li-op > a:hover,
.hd-li-op > a:active,
.hd-li-op > a:visited {
	text-decoration: none;
	color: var(--clr-black);
}

.hd-li-button > a,
.hd-li-button > a:focus,
.hd-li-button > a:hover,
.hd-li-button > a:active,
.hd-li-button > a:visited {
	text-decoration: none;
	color: var(--clr-dark);
}

.hd-li-op > a {
	font-size: var(--fs-p);
	font-weight: 600;
	padding: 10px;
	cursor: pointer;
}

.hd-li-op > a:hover {
	font-size: calc(var(--fs-p) + 1px);
	transition: 400ms;
}

.hd-li-button > a {
	font-size: var(--fs-p);
	color: var(--clr-dark);
	font-weight: 600;
	border:solid 5px var(--clr-med-dark);
	height: fit-content;
	width: fit-content;
	padding: 16px 36px;
	border-radius: 50px;
	cursor: pointer;
}

.hd-li-button > a:hover {
	background-color: rgba(255, 255, 255, 0.776);
}

@media screen and (max-width: 1000px) {
	.hd-nav {
		height: fit-content;
		width: 50%;	
		display: flex;
		justify-content: flex-end;	
	}
	.hd-ul {
		height: fit-content;
		width: 100%;
	}

	.hd-li-op > a {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.logo {
		height: 60px;
		width: 60px;
	}

	.logo img {
		height: 35px;
	}

	.hd-li-button > a {	
		padding: 11px 26px;
	}

}

@media screen and (max-width: 600px) {
	.logo {
		height: 50px;
		width: 50px;
	}

	.logo img {
		height: 30px;
	}	
}	

@media screen and (max-width: 430px) {
	.header {
		align-items:self-end;
		height: fit-content;
		padding: 5px;
	}

	.logo {
		height: 40px;
		width: 40px;
		margin-left: 0;
		margin-bottom: 25px;
	}

	.logo img {
		height: 25px;
	}	

	.hd-ul {
		height: fit-content;
	}

	.hd-li-button > a {
		font-weight: 400;
		border:solid 3px var(--clr-med-dark);
		padding: 10px 14px;
	}
	
}

/* Section About---------------- */

.about {
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	padding-top: 13%;
}

.about-intro {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.ab-p {
	font-weight: bold;
}

.ab-ul {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: end;
	list-style: none;
	gap: 30px;
	padding-right: 20px;
}

.ab-li > a,
.ab-li > a:focus, 
.ab-li > a:hover,
.ab-li > a:active,
.ab-li > a:visited {
	text-decoration: none;
	color: var(--clr-white);
}

.ab-li > a {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--clr-white);
	cursor: pointer;
} 

.ab-li > a > i{
	font-size: 25px;
	color: var(--clr-black);
	width: auto;
}

.ab-li > a:hover {
	opacity: 0.7;
}

.martin {
	height: 200px;
	width: 200px;
	background-image: url('./image/martin.jpeg');
  background-repeat: none;
  background-size: cover;
	border-radius: 50%;
	margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
	.martin {
		height: 170px;
		width: 170px;
	}
}

@media screen and (max-width: 800px) {
	.about {
		padding-top: 20%;
		gap: 20px;
	}

	.ab-ul {
		gap: 20px; 
	}

	.ab-li > a {
		height: 40px;
		width: 40px;
	}
		
	.martin {
		height: 150px;
		width: 150px;
	}

}

@media screen and (max-width: 600px) {
	.about {
		flex-direction: column-reverse;
		align-items: flex-start;
		padding-top: 40px;
	}

	.martin {
		height: 100px;
		width: 100px;
		margin-left: 30px;
		margin-bottom: 0px;
	}

	.ab-ul {
		justify-content: center;
		padding: 0px;
		gap: 60px; 
	}

	.ab-li > a {
		height:50px;
		width: 50px;
	}

}	

@media screen and (max-width: 430px) {
	.martin {
		height: 70px;
		width: 70px;
		margin-left: 15px;
	}

	.ab-ul {
		justify-content: center;
		padding: 0px;
		gap: 60px; 
	}

	.ab-li > a {
		height:40px;
		width: 40px;
	}
}

/* Mask2---------------- */

.mask2 {
	background-image: url('./image/2.svg');
  background-size: 200%;
	background-position-y: bottom;
	background-position-x: right;
	background-repeat:no-repeat;
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .mask2 {	
  	background-size: 300%;
	}
}

@media screen and (max-width: 800px) {
	.mask2 {	
  	background-size: 450%;
	}
}

@media screen and (max-width: 600px) {

}	

@media screen and (max-width: 430px) {

}

/* Projects---------------- */

.projects {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--clr-black);
	background-color: var(--clr-white);
}

.projects > h2 {
	margin-bottom: 12%;
}

.pro-list {
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 100px;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 0;
}

/* Project Card */

.pro-card-container {
  height: 350px;
  width: 80%;
  background-color: var(--clr-dark);
	display: flex;
  position: relative;
}

.pro-card-container:nth-child(even) {
	flex-direction: row-reverse;
}

.cont {
	height: 100%;
	width: 60%;
	background-color: var(--clr-white);
}

.pro-img {
	overflow: hidden;
  height: 100%;
  width: 100%;
}

.pro-containerbody {
  height: 100%;
  width: 40%;
  padding:  0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
  background-color: var(--clr-white);
	color: var(--clr-black);
	padding: 30px;
}

.pro-containerbody > p {
	text-align: center;
	margin: 0;
}

.pro-buttoncontainer {
	height: fit-content;
  width: 100%;
  display: flex;
	flex-direction: column;
  justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.pro-website,
.pr-github {
  height: 45px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--clr-light);
  cursor: pointer;  
}

.pro-website:hover,
.pr-github:hover {
  opacity: 0.7;
}

.pro-icon {
  height: 18px;
  width: 18px;
}

@media screen and (max-width: 1000px) {
	.pro-card-container {
  	height: 300px;
	}

	.pro-containerbody {
		padding: 10px;
	}
}

@media screen and (max-width: 800px) {
	.pro-card-container {	
		width: 90%;
	}
	.pro-containerbody {
		text-wrap:wrap;
		text-align: center;
	}
	.pro-website,
	.pr-github {
		height: 35px;
		width: 80px;
	}
}

@media screen and (max-width: 600px) {
	.pro-card-container,
	.pro-card-container:nth-child(even) {	
		flex-direction: column;
		position: relative; 
		height: 400px;
		width: 80%;
		background-color: var(--clr-light);
		border: solid 5px var(--clr-light) ;
		border-radius: 15px;
		position: relative;
	}

	.pro-mask {
		position: absolute;
		top: 0px;
		height: 250px;
		width: 100%;
		background: linear-gradient(rgba(255, 255, 255, 0) , var(--clr-light) 110%);
		z-index: 0;
	}	

	.cont,
	.pro-img {
		position: relative;
		object-fit: cover;
		height: 250px;
		width: 100%;
		border-radius: 10px 10px 0px 0px;
		background: var(--clr-med-dark);
	}

	.pro-containerbody {
		height: 150px;
		width: 100%;
		padding:  0px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border-radius: 15px 15px 13px 13px;
		background-color: var(--clr-white);
		color: var(--clr-black);
	}

	.pro-website {
		display: none;
	}

	.pr-github {
		height: 30px;
		width: 30px;
		position: absolute;
		top: 10px;
		right: 10px;
		border: 3px solid var(--clr-black);
		background-color: var(--clr-white);
	}
}	

@media screen and (max-width: 430px) {
	.pro-icon {
		height: 14px;
		width: 14px;
	} 

}

/* Skills---------------- */

.skills {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: var(--clr-white);
}

.skills > h2 {
	margin-bottom: 12%;
}

.skills-list {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 0;
}

.skills-list li {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-light);
	color: var(--clr-black);
	border: solid 5px var(--clr-dark);
	border-radius: 15px;
	padding: 5px;
}

.skills-icon {
	height: 30px;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {
	.skills-list li {
		width: 120px;
	}

	.skills-icon {
		height: 25px;
	}

}	

@media screen and (max-width: 430px) {
	.skills-list li {
		width: 100px;
	}
	.skills-list {
		padding-left: 5%;
		padding-right: 5%;
		gap: 30px;
	}
}

/* Education---------------- */

.education {
	height: 100%;
	width: 100%;
	background-color: var(--clr-light);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.education > h2 {
	margin-bottom: 12%;
}

.know-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}

.know-card {
	height: 320px;
	width: 400px;
	background-color: var(--clr-light);
}

.ed-icon {
	height: 60%;
	width: 100%;
	padding: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-white);
	margin-bottom: 30px;
}

@media screen and (max-width: 1215px) {
	.know-card-container {
		gap: 50px;
	}

	.know-card {
		height: 400px;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 15px;
		background-color: var(--clr-light);
	}

	.ed-icon {
		overflow: hidden;
	}

}

@media screen and (max-width: 600px) {
	.know-card {
		height: 300px;
		width: 380px;
	}
}	

@media screen and (max-width: 430px) {
	.know-card {
		height: 280px;
		width: 300px;
	}
}

/* Interests---------------- */

.interests {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: var(--clr-white);
}

.interests > h2 {
	margin-bottom: 12%;
}

.int-list {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 0;
}

.int-list li {
	height: 80px;
	width: 100px;
	background-color: var(--clr-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	padding: 5px;
}

.int-icon {
	height: 50px;
	width: auto;
}

@media screen and (max-width: 800px) {
	/* .interests {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: var(--clr-white);
		gap: 40px;
	} */

	.int-list {
		gap: 30px;
	}

	.int-list li {
		height: 60px;
		width: 80px;
		padding: 5px;
	}

	.int-icon {
		height: 40px;
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	.int-list {
		gap: 50px;
		padding-left: 20%;
		padding-right: 20%;
	}
}	

@media screen and (max-width: 430px) {
	.int-list {
		gap: 30px;
		padding-left: 15%;
		padding-right: 15%;
	}

}

/* Mask3---------------- */

.mask3 {
	background-image: url('./image/3.svg');
  background-size: 200%;
	background-position-y: bottom;
	background-position-x: right;
	background-repeat:no-repeat;
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.mask3 {
		background-size: 250%;
	}
}

@media screen and (max-width: 800px) {
	.mask3 {
		background-size: 300%;
	}
}

@media screen and (max-width: 600px) {
	.mask3 {
		background-size: 380%;
	}
}	

@media screen and (max-width: 430px) {
		.mask3 {
		background-size: 480%;
	}

}

/*CONTACTO---------------- */

.contact {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact > h2 {
	margin-bottom: 8%;
}

.form-container {
	height: fit-content;
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.form-ac {
	font-size: 12px;
	font-weight: 400;
	color: gray;
}

.inputs-container {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.input-container {
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 15%;
}

.input-container > input {
	height: 60px;
	width: 100%;
	border-radius: 50px;
	padding: 15px;
}

.input-container > textarea {
	height: 120px;
	width: 100%;
	border-radius: 15px;
	padding: 15px;
}

.input-container > label {
	font-size: var(--fs-p);
	font-weight: 500;
}

.input-container-p {
	font-size: var(--fs-p);
	font-weight: 500;
}

.input-container > input:focus,
.input-container > input:active,
.input-container > input:visited,
.input-container > input:focus,
.input-container > textarea:focus,
.input-container > select:focus {
	background-color: var(--clr-white);
	outline: none;
}

.form-asterisk {
	color: var(--clr-med-dark);
}

.error {
	background-color: #ff880010;
	border: solid 4px var(--clr-med-dark);	
}

.rm-error {
	background-color: #27187e10;
	border: solid 4px var(--clr-medium);
}

.message-error {
	font-size: 12px;
	font-weight: 400;
	color: var(--clr-med-dark);
}

.form-submit {
	height: 50px;
	width: 150px;
	font-size: var(--fs-p);
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	background-color: var(--clr-dark);
	margin-left: auto;
	margin-right: auto;
}

.form-submit:hover {
	background-color: #14213dc9;
}

.form-submit,
.form-submit:focus,
.form-submit:hover,
.form-submit:active,
.form-submit:visited {
	text-decoration: none;
	color: var(--clr-white);
}

@media screen and (max-width: 1000px) {
	.form-container {
		width: 90%;
	}

	.inputs-container {
		width: 80%;
	}
	.input-container {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.form-container {
		width: 75%;
	}

	.inputs-container {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.contact {
		padding-left: 0;
		padding-right: 0;
	}

	.form-container {
		width: 70%;
	}

	.inputs-container {
		width: 100%;
	}

	.input-container {
		width: 100%;
	}
}	

@media screen and (max-width: 430px) {

}

/* Footer---------------- */

.ft-container {
	height: 80px;
	width: 100%;
	margin-top: 0px;
	background-color: var(--clr-dark);
}

.ft-ul {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-left: 0;
	gap: 90px;
}

.ft-li > a,
.ft-li > a:focus, 
.ft-li > a:hover,
.ft-li > a:active,
.ft-li > a:visited {
	text-decoration: none;
	color: var(--clr-med-dark);
	background-color: var(--clr-dark);
}

.ft-li > a > i{
	font-size: 35px;
	background-color: var(--clr-dark);
	color: var(--clr-med-dark);
	width: auto;
	cursor: pointer;
}

.ft-li > a:hover {
	opacity: 0.7;
}

@media screen and (max-width: 800px) {
	.ft-container {
		height: 110px;
	}

	.ft-ul {
		align-items:center;
		list-style: none;
		gap: 90px;
		padding-bottom: 30px;
	}

	.ft-li > a > i{
		font-size: 35px;
	}

}

@media screen and (max-width: 600px) {
	.ft-ul {
		gap: 50px;
	}

}	

@media screen and (max-width: 430px) {
	.ft-ul {
		gap: 40px;
	}
}

